h1 {
	font-family: Helvetica, sans-serif;
	text-align: center;
}

table {
	border: 5px solid #a1a1a1;
	border-radius: 5px;
	border-collapse: separate;
	border-spacing: 20px 20px;
	margin: 10px auto;
}

td {
	border: none;
	font-family: Helvetica,sans-serif;
	font-size:18px;
}

button  {
	font-family: Helvetica,sans-serif;
	font-size: 18px;
	width: 120px;
	padding: 0;
	border: none;
	background: none;
	height: 60px;
	outline: 0;
	color:#666;
	/*  color:#4D4D4D;*/
}

.off:active {
	color:#ED5151;
}

.on:active {
	color:#7AFF99;
}

button:active {
	background-color: #666;
	transition: ease-in-out 0.25s;
}

.on {
	background-color: #7AFF99;
}

.off {
	background-color: #ED5151;
}

body {
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
}

iframe {
	width:45px;
	height:60px;
	border:0;
}

body {
	background:#a1a1a1;
	color:
}
